
body{
    background-image: url("./assets/saha.png");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}


* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family:cursive;
}

form {
    background-color: rgb(94, 22, 239);
    height: 40vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    border-radius: 20px;
    font-size: 1rem;
    border: 3px solid black;
}

#playbtn {
    background-color: green;
    color: white;
    padding: 3px 10px;
    margin-top: 10px;
    font-size: 1.5rem;
    border-radius: 10px;
    width: 50%;
    border: 3px solid black;
}

#topic {
    font-size: 4.8rem;
    font-family:'Licorice', cursive;
    color: black;
    text-align: center;
    -webkit-text-stroke: 3px white;
}

#container{
    height: 100vh;
    width:100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

input {
    font-size: 1.3rem;
    width: 250px;
    border-radius: 5px;
    border: 3px solid black;
}
