body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    position: relative;
    background-image: url("./assets/sag.png");
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    color: #fff; /* Text color */
}

h1{
    text-align: center;
    color:#012afa;
    -webkit-text-stroke: 5px white;
    font-size: 4rem;
    font-family: 'Licorice', cursive;
}


span{
    text-align: center;
    font-size: 3rem;
    font-family: 'Licorice', cursive;
    color: black;

}

ul > li{
    color:white;
    font-size: 1.3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    white-space: pre-line;
}

.text{
    background-color:rgba(30, 164, 231, 0.7) ;
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
    cursor: pointer;
    box-sizing:content-box;
    margin-left: 5px;
}


#playbtn{
        background-color:#2cf71dcc;
        color:white;
        padding:7px;
        border: none;
        font-size: 1.6rem;
        border-radius: 5px;
        margin-left: 65%;
        cursor: pointer;
}

/* chocolate shower animation*/
.chocolate {
    position: fixed;
    font-size: 1.5rem;
    top: -1vh;
    transform: translateY(0);
    animation: fall 3s linear forwards;
}  

@keyframes fall {
    from {
       transform: translateY(0vh) translateX(-10vw); 
    }
    to {
       transform: translateY(105vh) translateX(10vw); 
    }
  }